*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif;
}

.hero{
   /* background: linear-gradient(8deg, rgba(2,0,36,1) 0%, rgba(46,46,182,1) 34%, rgba(0,212,255,1) 85%);*/
    background-image:linear-gradient(8deg, rgba(2,0,36,1) 0%, rgba(46,46,182,0.28895308123249297) 34%, rgba(0,212,255,1) 85%), url("../img/header.jpg");
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.textos-hero{
    height: 500px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textos-hero h1{
    font-size: 60px;
}

.textos-hero p{
    font-size: 25px;
    margin-bottom: 20px;
}

.textos-hero a{
    display: inline-block;
    text-decoration: none;
    padding: 12px 15px;
    background: radial-gradient(circle, rgba(63,94,251,1) 34%, rgba(32,70,253,1) 49%, rgba(0,44,255,1) 76%);
    border-radius: 8px;
    color: #fff;
}

.svg-hero{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Estilos generales */

.contenedor,
.wave-contenedor{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding: 0 0 80px 0;
}
.contenedor{
    padding: 80px 0;
}

.titulo{
    font-weight: 300;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}

.titulo.left{
    text-align: left;
}

.titulo.right{
    text-align: right;
}

/* Section */

.website{
    display: flex;
    justify-content: space-between;
}

.website img{
    width: 48%;
}

.website .contenedor-textos-main{
    width: 40%;
}

.parrafo{
    text-align: justify;
    margin-bottom: 20px;
}

.cta{
    display: inline-block;
    text-decoration: none;
    background-image: radial-gradient(circle, rgba(63,94,251,1) 34%, rgba(32,70,253,1) 49%, rgba(0,44,255,1) 76%);
    padding: 12px 15px;
    border-radius: 8px;
    color: #fff;
}

/* Info */

.info{
    background: radial-gradient(circle, rgba(63,94,251,1) 34%, rgba(32,70,253,1) 49%, rgba(0,44,255,1) 76%);
    color: #fff;
}


/* Cards */

.content-cards{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card{
    width: 30%;
    text-align: center;
    height: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
}

.card:hover{
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
}

.card i{
    margin: 30px 0 20px 0;
    color: #0008ff;
    font-size: 50px;
}

.card p{
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 10px;
}

/* galeria */

.galeria{
    background: #f2f2f2;
}

.galeria-cont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}

.galeria-cont>img{
    width: 30%;
    object-fit: cover;
    margin-bottom: 20px;
    display: block;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .5);
    cursor: pointer;
    overflow: hidden;
}
/*Card */
.card-equipo{
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}
.card-equipo .cara{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}
.card-equipo .delantera{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px black;
}
.card-equipo .delantera img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-equipo .delantera h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: white;
    background-color: rgba(0, 0, 0, .4);
    text-align: center;

}
.card-equipo .trasera{
    transform: perspective(600px) rotateY(180deg);
    background: rgba(3, 35, 54);
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px black;

}
.card-equipo .trasera .enlace{
    border-top: solid 1px white;
    height: 50px;
    line-height: 50px;

}
.card-equipo .trasera .enlace a{
    color: white;
}
.card-equipo .trasera h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}
.card-equipo .trasera p{
    letter-spacing: 1px;
}
.card-equipo:hover .delantera{
    transform: perspective(600px)rotateY(180deg);
}
.card-equipo:hover .trasera{
    transform: perspective(600px)rotateY(360deg);
}
/* info2 */

.last-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
}

.last-section img{
    width: 48%;
}

.last-section .contenedor-textos-main{
    width: 40%;
}


/* footer */

footer{
    background: radial-gradient(circle, rgba(51,48,231,0.7147233893557423) 10%, rgba(24,30,218,1) 42%, rgba(22,47,209,1) 65%, rgba(21,55,204,1) 77%);
    color: #fff;
}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input{
    background: transparent;
    border: 0;
    color: #fff;
    outline: none;
    border: 1px  solid #fff;
    padding: 20px 10px;
}

.input::placeholder{
    color: #fff;
    font-family: 'raleway', 'sans-serif';
}

input[type="text"], 
input[type="email"]{
    display: inline-block;
    width: 49%;
    margin-bottom: 30px;
}

.form textarea{
    width: 100%;
    margin-bottom: 15px;
}

input[type="submit"]{
    width: 120px;
    text-align: center;
    padding: 14px 0;
}

input[type="submit"]:hover{
    cursor: pointer;
    color: tomato;
    background: #fff;
}
:root{
    --facebook: #3b5999;
    --instagram: #e4405f;
    --twitter: #55acee;
    --whatsapp: green;
}
.redes-container{
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
}
.redes-container ul li{
    display:inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center;
}
.redes-container ul li a{
    display: block;
    padding: 0 10px;
    background: rgb(0, 0, 0);
    color: white;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2);
}
.redes-container ul:hover a{
    filter: blur(2px);
}
.redes-container ul li a:hover{
    transform:translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
    filter: none;
}
.redes-container ul li .facebook:hover{
    background: var(--facebook);
}
.redes-container ul li .instagram:hover{
    background: var(--instagram);
}
.redes-container ul li .twitter:hover{
    background: var(--twitter);
}
.redes-container ul li .github:hover{
    background: var(--github);
}
.redes-container ul li .whatsapp:hover{
    background: var(--whatsapp);
}
/*Menu superior*/

div#titulo{
	width:100%;
	margin-top:100px;
}

p#nav{
	text-align: center;
	font-size: 2.5em;
	color:#9a9a9a;
}

/* p#subheader{
	text-align: center;
	color:#cecece;
	margin-top:20px;
	font-size: 1.3em;
} */

header{
	margin:100px auto;
	width:1200px;
	height:200px;
	background-color: red;
}

div.contenedor-2{
	width: 16.6666%;
	height: 200px;
	float:left;
	transition: height .4s;
}

div#uno{
	background-color: rgb(208,101,3);
}

div#dos{
	background-color: rgb(233,147,26);
}

div#tres{
	background-color: rgb(22,145,190);
}

div#cuatro{
	background-color: rgb(22,107,162);
}

div#cinco{
	background-color: rgb(27,54,71);
}

div#seis{
	background-color: rgb(21,40,54);
}

img.icon{
	display: block;
	margin:50px auto;
	background-color: rgba(255,255,255,.15);
	width:40px;
	padding:5px;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
	transition:box-shadow .4s;
}

p.texto{
	font-size: 1.2em;
	color:white;
	text-align: center;
	padding-top:10px;
	opacity: .6;
	transition: padding-top .4s;
}

div.contenedor-2:hover{
	height:250px;
}

div.contenedor-2:hover p.texto{
	padding-top: 30px;
	opacity: 1;
}

div.contenedor-2:hover img.icon{
	box-shadow:0px 0px 0px 0px rgba(255,255,255,.6);
}


@media screen and (max-width:800px){
    .textos-hero h1{
        text-align: center;
        font-size: 50px;
    }
    /* estilos generales */
    .titulo{
        font-size: 35px;
    }

    .titulo.left{
        text-align: center;
    }

    .info p{
        text-align: center;
    }

    /* section */
    .website{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .website img{
        width: 100%;
    }

    .website .contenedor-textos-main{
        width: 100%;
    }

    /* Cards */

    .card{
        width: 90%;
        margin-bottom: 20px;
    }
    .card-equipo{
        width: 90%;
        margin-bottom: 20px;
    }
    /* galeria */

    .galeria-cont>img{
        width: 48%;
    }

    /* last */

    .last-section img{
        width: 98%;
    }

    .last-section .contenedor-textos-main{
        width: 98%;
        margin-bottom: 20px;
    }


}

@media screen and (max-width:400px){
    .titulo,
    .textos-hero h1{
        font-size: 30px;
    }

    .textos-hero p{
        font-size: 20px;
        text-align: center;
    }

    .card{
        height: 380px;
    }
    .card-equipo{
        width: 90%;
        margin-bottom: 20px;
    }

    .website .contenedor-textos-main{
        margin-bottom: 30px;
    }

    .galeria-cont>img{
        width: 97%;
    }
}